.about-block{
    margin: 7rem 0;

    overflow: hidden;
    .about-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);

        .content{
            max-width: 500px;
        }

        .about-card{
            justify-self: center;
            max-height: 100%;


            img{
                max-height: 500px;

                object-fit: contain;
            }
        }
    }

    @media(max-width: 992px){
        .about-grid{
            grid-template-columns: repeat(1,1fr);
            .about-card{
                grid-row: 1;
            }
        }
    }
    @media(max-width: 992px){
        margin: 4rem 0;
    }
}
