.contact-block{
    padding: 7rem 0;
    form{
        display: flex;
        flex-direction: column;
        background-color: $primary;
        color: $secondary;
        padding: 0rem 6rem 2rem;
        margin: 2rem auto;
        border-radius: 1rem;
        max-width: 700px;

        h2{
            color: $secondary;
            padding-top: 2rem;
        }

        label{
            padding-top: 2rem;
        }

        input[type="submit"]{
            padding: 6px 28px;
            border-radius: 20px;
            box-shadow: 0px 10px 20px rgba(46, 229, 157, 0.6);
            border: none;
            margin:1rem auto;
        }
    }
}

@media(max-width:992px){
    .contact-block{
        padding: 4rem 0;
        form{
            padding: 0 1rem 2rem;
        }
    }
}